Repository PyPlanet/PyPlanet, pull requests merged in 2018-04, with the labels that each got.

#615 Added SSH warning to starting documentation.
  docs/source/intro/starting.rst
Labels: Doc, P:Medium

#629 Typo in line 116 connectionmessage to dedicated
  pyplanet/core/gbx/remote.py
Labels: Accepted, Bug, Core, P:Medium

#639 Topsums: now comparing ids instead of id and map object.
  pyplanet/apps/core/statistics/processor.py
Labels: App, Bug, P:High

#638 Provide required argument to MapListView init from FolderMapListView.
  pyplanet/apps/contrib/jukebox/views.py
Labels: App, Bug, P:High

#637 Also set MXKarma current_start on init.
  pyplanet/apps/contrib/karma/mxkarma.py
Labels: App, Bug, P:High

#652 Fixed vote retrieving/importing for MX Karma.
  pyplanet/apps/contrib/karma/mxkarma.py
  pyplanet/apps/contrib/karma/mxkarmaapi.py
Labels: App, Bug, P:Critical
