Repository PyPlanet/PyPlanet, pull requests merged in 2022-02, with the labels that each got.

#1114 fix for ragequit alias
  pyplanet/apps/contrib/funcmd/__init__.py
Labels: Bug, App, P:Critical

#1130 Handle error when unable to connect to MX Karma API.
  pyplanet/apps/contrib/karma/mxkarmaapi.py
Labels: Bug, App, P:Critical

#1129 Allow masteradmins to delete public mapfolders created by others.
  pyplanet/apps/contrib/jukebox/views.py
Labels: App, Enhancement, P:Critical, G:TM, G:MP

#1131 Fixed refreshing map folder when adding current map/removing map.
  pyplanet/apps/contrib/jukebox/views.py
Labels: Bug, App, P:Critical, G:TM, G:MP

#1132 Handle error when unable to verify MX Karma API certificate.
  pyplanet/apps/contrib/karma/mxkarmaapi.py
Labels: Bug, App, P:High, G:MP

#1134 Write process ID to file without needing to detach the process.
  pyplanet/core/management/commands/start.py
Labels: Core, P:Medium, Enhancement

#1135 Added widget to award the map on podium.
  pyplanet/apps/contrib/mx/__init__.py
  pyplanet/apps/contrib/mx/templates/award.xml
  pyplanet/apps/contrib/mx/view.py
Labels: App, Enhancement, P:Low

#1138 Added MX link to map name label.
  pyplanet/apps/contrib/info/templates/mapinfo.xml
Labels: App, Enhancement, P:Low

#1137 Disable chat votes when public chat is disabled.
  pyplanet/apps/contrib/voting/__init__.py
Labels: Bug, App, P:Low, G:TM, G:MP

#1136 Replaced TM-specific player toolbar links in SM.
  pyplanet/apps/core/pyplanet/templates/toolbar.Script.Txt
  pyplanet/apps/core/pyplanet/templates/toolbar.xml
  pyplanet/apps/core/pyplanet/views/toolbar.py
Labels: App, P:Critical

#1142 Fixed local rank in localcps column headers.
  pyplanet/apps/contrib/local_records/__init__.py
Labels: Bug, App, P:Critical

#1144 Upped z-index of widgets to 100+ to ensure clickability over TM2020 scoreboard.
  pyplanet/apps/contrib/admin/templates/toolbar/toolbar.xml
  pyplanet/apps/contrib/best_cps/view.py
  pyplanet/apps/contrib/currentcps/view.py
  pyplanet/apps/contrib/dedimania/views.py
  pyplanet/apps/contrib/info/views.py
  pyplanet/apps/contrib/karma/views.py
  pyplanet/apps/contrib/live_rankings/views.py
  pyplanet/apps/contrib/local_records/views.py
  pyplanet/apps/contrib/queue/templates/queue.xml
  pyplanet/apps/contrib/transactions/view.py
  pyplanet/apps/core/pyplanet/templates/controller.xml
  pyplanet/apps/core/pyplanet/templates/toolbar.xml
Labels: Bug, App, P:Low, G:TM
