Repository PyPlanet/PyPlanet, pull requests merged in 2023-08, with the labels that each got.

#1247 Voting: ceil needed votes for vote to pass.
  pyplanet/apps/contrib/voting/__init__.py
Labels: App, P:Medium, Enhancement

#1233 Fix background of list template when no provide_search
  pyplanet/views/templates/generics/list.xml
Labels: Bug, Core, P:Medium

#1251 Mode settings: removed weird character at description start, removed <hidden> descriptions.
  pyplanet/apps/contrib/admin/views/setting.py
Labels: Bug, App, P:Low

#1252 Added delay to TimedRotatingFileHandler to avoid logging errors on date switch.
  pyplanet/utils/log.py
Labels: Bug, Core, P:Critical

#1250 Fixed sorting None values in list generics.
  pyplanet/views/generics/list.py
Labels: Bug, Core, P:High

#1253 Added database server information to core engine + differentiated rankings calculation query based on database engine.
  pyplanet/apps/contrib/rankings/__init__.py
  pyplanet/apps/contrib/rankings/queries.py
  pyplanet/core/db/database.py
  pyplanet/core/db/server_info.py
  requirements.txt
Labels: Bug, App, Core, P:High

#1258 Live Rankings: clickable player names to switch spectator target.
  pyplanet/apps/contrib/live_rankings/templates/widget.Script.txt
  pyplanet/apps/contrib/live_rankings/templates/widget.xml
  pyplanet/apps/contrib/live_rankings/views.py
Labels: App, Enhancement, P:Low

#1265 Added name attribute to manialink tag, to ensure recognizability when debugging.
  pyplanet/core/ui/__init__.py
Labels: Core, Enhancement, P:Low

#1259 Added button to add maps from rank lists to folders.
  pyplanet/apps/contrib/rankings/views.py
Labels: App, P:Medium, Enhancement

#1261 Added wait for map info in widget script, to avoid previous author to be displayed.
  pyplanet/apps/contrib/info/templates/mapinfo.Script.Txt
Labels: Bug, App, P:Medium

#1260 Added admins commands for maximum players/spectators.
  docs/source/intro/configuration.rst
  pyplanet/apps/contrib/admin/server.py
  pyplanet/apps/core/maniaplanet/callbacks/map.py
  pyplanet/conf/default_settings.py
  pyplanet/conf/project_template/settings/base.py
Labels: App, Enhancement, P:Low

#1234 Potential Fix for Ping Issue with Points_Added in Live Rankings
  pyplanet/apps/contrib/live_rankings/__init__.py
Labels: Bug, App, P:High

#1264 Live Rankings: added race rankings widget + made warm-up improvements.
  docs/source/apps/contrib/live_rankings.rst
  pyplanet/apps/contrib/best_cps/view.py
  pyplanet/apps/contrib/info/templates/serverinfo.xml
  pyplanet/apps/contrib/live_rankings/__init__.py
  pyplanet/apps/contrib/live_rankings/templates/race_widget.xml
  pyplanet/apps/contrib/live_rankings/views.py
Labels: Feature, App, P:Medium

#1051 Update for //reboot
  pyplanet/apps/contrib/admin/pyplanet.py
Labels: Bug, Pending, P:High
